.row
  .columns.large-12(style="display: flex; justify-content: center; padding-bottom: 20px;")
    #js-container style=("height: 180px; width: 100%; max-width: 740px;")

- if @meteoblue_record
  .row
    .columns.large-12
      .text-center
        - if @meteoblue_record&.meteogram&.url
          = image_tag @meteoblue_record.meteogram.url

= content_for :script do
  javascript:
    $(document).ready(function(){
      var element =  document.getElementById('js-container');
      if (typeof(element) != 'undefined' && element != null)
      {
        // Enable plugins like highlighter and cursor by default.
        // Otherwise, must specify show: true option for those plugins.
        $.jqplot.config.enablePlugins = true;

        var line1 = #{{Scrappers::MeteoblueRecord.where(location: 'Kasprowy Wierch').select(:location, :time, :temperature_mean).collect {|w| [w.time.to_date, w.temperature_mean]}.to_json }}

        var plot1 = $.jqplot('js-container', [line1], {
            title:'Temperatura - 5 dni',
            seriesDefaults: {
              showMarker: false,
              pointLabels: { show: true }
            },
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    rendererOptions:{
                        tickRenderer:$.jqplot.CanvasAxisTickRenderer
                    },
                    tickOptions:{
                        fontSize:'8pt',
                        fontFamily:'Tahoma',
                        angle:-40,
                        formatString:'%b %#d'
                    }
                },
                yaxis:{
                    rendererOptions:{
                        tickRenderer:$.jqplot.CanvasAxisTickRenderer},
                        tickOptions:{
                            fontSize:'9pt',
                            fontFamily:'Tahoma',
                            angle:30
                        }
                }
            },
            series:[{ lineWidth:5, markerOptions:{ style:'square' } }],
            cursor:{
                zoom:true,
                looseZoom: true
            }
        });

        $(window).on('resize', function(){
            plot1.replot( { resetAxes: true } );
        });
      }
    });
