version: '3'
services:
  redis:
    image: 'redis:7-alpine'
    command: redis-server  --requirepass +eA8tga96sbquDe9CLL3yUZMNdHM6prSwD6kj1vXO4nzPPudDkxh4U+/LMtOWd+Wd72s9MnXNZqCKZeh
    ports:
      - '6379:6379'
    volumes:
      - 'redis:/data'
    sysctls:
      - net.core.somaxconn=4096
  sidekiq:
    depends_on:
      - 'db'
      - 'redis'
    build: .
    command: bundle exec sidekiq -q default -q mailers
    volumes:
      - .:/usr/src/kw-app
      - .:/usr/src/kw-app/tmp
      - gems:/kw-app-gems
    environment:
      - REDIS_URL_SIDEKIQ=redis://redis:6379/1
  db:
    image: 'postgres:10.3-alpine'
    volumes:
      - 'data-volume:/var/lib/postgresql/data'
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"
  web:
    command: >
      sh -c "(bundle check || bundle install) &&
      rm -f tmp/pids/server.pid && bundle exec rails s -p 3002 -b 0.0.0.0"
    build: .
    links:
      - mailcatcher
      - redis
    volumes:
      - .:/usr/src/kw-app
      - gems:/kw-app-gems
    ports:
      - "3002:3002"
    depends_on:
      - db
      - redis
    tty: true
    stdin_open: true
    environment:
      - REDIS_URL_SIDEKIQ=redis://redis:6379/1
volumes:
  redis:
  data-volume:
  gems:
