| Hej!
br
| Twój czas na dokonanie płatności wygasł i usuneliśmy twój zapis.
br
br
| Jeżeli chcesz, możesz zapisać się ponownie na 
= link_to 'stronie kursu!', business_course_record_public_url(@course.slug)
br
