| Hej!
br
br
- setting = Management::SettingsRecord.find_by(path: '/kursy/list')
- if setting
  = sanitize setting.content
br
b Wyposażenie, które będzie wymagane na kursie to:
br
= sanitize @sign_up.course.equipment
= link_to I18n.t('.business.mailer.send_list_link'), business_list_url(@sign_up.id)
br/
= link_to 'Link do kontatku z pozostałymi uczestnikami', course_url(id: @sign_up.course_id, code: @sign_up.code)
br
