| Hej!
br
br
= link_to 'Kliknij tutaj aby opłacić zapis!', charge_payment_url(@sign_up.payments.second.id)
br/
br/
- if @sign_up.course.email_second_content
  = sanitize @sign_up.course.email_second_content
