b Dziękujemy za chęć dołączenia do Sekcji Narciarstwa Wysokogórskiego KW Kraków.
br
| Pod poniższym linkiem możesz zobaczyć szczegóły 
= link_to 'Twojego zgłoszenia.', snw_apply_page_url(@apply.kw_id)
br
br
| Po zweryfikowaniu wniosku poinformujemy Cię o przyjęciu do Sekcji.
br
| Pozdrawiamy, Zarząd Sekcji Narciarstwa Wysokogórskiego
