b Zgłoszenie zostało przyjęte.
br
| Pod poniższym linkiem możesz śledzić szczegóły zgłoszenia.
br
= link_to 'Szczegóły zgłoszenia!', snw_apply_page_url(@apply.kw_id)
br
br
| Poinformujemy Cię o akceptacji po zweryfikowaniu zgłoszenia.
br
| pozdrawiamy Zarząd Sekcji Narciarstwa Wysokogórskiego
