| Dziękujemy, że zgłosiłeś się na nasze zawody!
br
br
| Ta edycja wymaga akceptacji zgłoszenia, poczekaj cierpliwie na kolejny e-mail,
| w którym otrzymasz link do płatności za zgłoszenie.
br/
br/
= sanitize @sign_up.competition_record.email_text
