| Dziękujemy za chęć udziału w naszych zawodach!
br
br
| Ta edycja wymaga akceptacji zgłoszenia. Poczekaj cierpliwie na kolejny e-mail, w którym otrzymasz link do płatności za zgłoszenie.
br/
br/
= sanitize @sign_up.competition_record.email_text
