table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.kalendarz-zawodow tbody td.names {
  vertical-align: top !important;
  padding: 5px;
  text-align: left !important;
}
.weekend {
  background-color: red;
}

.number {
  width: 3%;
}

span.flag {
  margin-right: 5px;
}

.flag_list {
}

.flag_list ul {
    padding: 0;
    list-style-type: none;
    margin-left:0;
    margin-bottom: 0;
}
.clear_filter {
  text-align: center;
}
.clear_filter a {
  color: red;
}

.flag_list li {
  float: left
}

.serie_list ul {
    list-style-type: none;
}

.serie_list li {
  float: left;
  margin-right: 5px;
}

.flag_list span.flag {
    width: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

