h3= "Rezerwacja ##{@reservation.id}"

h2= "Do kiedy powinienieś oddać przedmiot: #{@reservation.end_date}"

b Kto: 
= "#{@reservation.user.first_name} #{@reservation.user.last_name}"
br
b Co: 
= @reservation.items.map(&:display_name).to_sentence
br
b Okres wypożyczenia: 
= "#{@reservation.start_date} - #{@reservation.end_date}"
br
br
= "Przypominamy o oddaniu przedmiotu w terminie."
br
= "Aby skontaktować się z opiekunem możesz po prostu odpowiedzieć na ten email."
br
= '----------------------------------------------------------'
br
i
  small
    = 'Wypożyczalnia Klubu Wysokogórskiego Kraków'
