| Hej!
br
| Twój czas na dokonanie płatności wygasł i usuneliśmy twój zapis.
br
br
| Jeżeli chcesz, możesz zapisać się ponownie na 
= link_to 'stronie wydarzenia!', polish_event_url(@course.slug)
br
br
| z taternickim pozdrowieniem,
br
| Klub Wysokogórski Kraków
