| Hej!
br
br
| Zapisałeś się na nasze wydarzenie 
b = @sign_up.course.name
br/
br/
| Informujemy że 24h po zakończeniu wydarzenia wykasujemy twój e-mail z naszej bazy.
br/
br/
b Data wydarzenia: 
= @sign_up.course&.start_date&.strftime("%d/%m/%Y %H:%M")
br/
br/
b Miejsce wydarzenia: 
= @sign_up.course.place
br/
br/
| Więcej informacji znajdziesz na 
= link_to 'stronie wydarzenia!', supplementary_course_url(@sign_up.course.id)
- unless @sign_up.course.price
  br/
  br/
  = link_to 'Zrezygnuj z udziału w wydarzeniu', polish_event_cancel_url(@sign_up.code)
br/
| Poinformuj o tym wcześniej koordynatora aby ustalić na jakich warunkach dokonujesz rezygnacji.
br/
br/
| Do zobaczenia!
