service: kw-app
image: regedarek/kw-app

builder:
  dockerfile: Dockerfile.production
  arch: amd64

servers:
  web:
    hosts:
      - 146.59.44.70

proxy:
  ssl: true
  app_port: 3000
  host: nowypanel.kw.krakow.pl
  healthcheck:
    path: /up
    interval: 2
    timeout: 2

registry:
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

# Keep only 3 containers on host
retain_containers: 3

env:
  clear:
    RAILS_ENV: production
    RACK_ENV: production
    DB_HOST: kw-app-postgres
    DB_PORT: 5432
  secret:
    - RAILS_MASTER_KEY

ssh:
  user: ubuntu

accessories:
  postgres:
    image: postgres:16.0
    host: 146.59.44.70
    port: "127.0.0.1:5432:5432"
    env:
      clear:
        POSTGRES_USER: production_user
        POSTGRES_DB: kw_app_production
      secret:
        - POSTGRES_PASSWORD
    files:
      - config/init.sql:/docker-entrypoint-initdb.d/setup.sql
    directories:
      - data:/var/lib/postgresql/data