# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 137bf0b2e4688fbc131bd0de9a2ed22ef6f6039676608e4c834560cbfd407ed114143c0b13c48d1a263c076b2aca81168bfcf82a2bfc5765f853cc6fac1ab7c9
  dotpay_fees_id: 727029
  dotpay_trainings_id: 727029
  dotpay_reservations_id: 727029
  dotpay_club_trips_id: 727029
  dotpay_donations_id: 727029
  dotpay_base_url: 'https://ssl.dotpay.pl/test_seller/api/'
  dotpay_login: dariusz.finster@gmail.com
  dotpay_password: <%= ENV['DOTPAY_PASSWORD'] %>
  dotpay_back_url: 'https://kw-app-staging.herokuapp.com/api/payments/thank_you'
  dotpay_urlc: 'https://kw-app-staging.herokuapp.com/api/payments/status'
  google_client_id: 35541000638-o2n7jo002t5u7rj2oj39d69vi25thvnf.apps.googleusercontent.com
  google_client_secret: yU6NYA_LgXGuaf1LnNtF4U8V
  strzelecki_page: http://strzelecki.kw.krakow.pl
  mas_page: http://mas.kw.krakow.pl
  mailgun_api_key: <%= ENV['MAILGUN_API_KEY'] %>
  meteoblue_key: <%= ENV['METEOBLUE_KEY'] %>

test:
  secret_key_base: 70cf5f3e2305b4ccb8c329f76aea3d216873fc538ff3a85bc7bbd4269d52e59edb18eb84d13654c3932d7a867d9f769806d24da3a4de07a444e0241e17ea6841
  strzelecki_page: http://strzelecki.kw.krakow.pl
  mas_page: http://mas.kw.krakow.pl

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  dotpay_fees_id: 727029
  dotpay_trainings_id: 727029
  dotpay_reservations_id: 727029
  dotpay_club_trips_id: 727029
  dotpay_donations_id: 727029
  dotpay_base_url: 'https://ssl.dotpay.pl/test_seller/api/'
  dotpay_login: dariusz.finster@gmail.com
  dotpay_password: <%= ENV['DOTPAY_PASSWORD'] %>
  dotpay_back_url: 'https://kw-app-staging.herokuapp.com/api/payments/thank_you'
  dotpay_urlc: 'https://kw-app-staging.herokuapp.com/api/payments/status'
  mailgun_login: <%= ENV['MAILGUN_LOGIN'] %>
  mailgun_password: <%= ENV['MAILGUN_PASSWORD'] %>
  google_client_id: <%= ENV['GOOGLE_CLIENT_ID'] %>
  google_client_secret: <%= ENV['GOOGLE_CLIENT_SECRET'] %>
  mailgun_domain: 'sandboxcda67a5d28394ec3b9ed5e3164523822.mailgun.org'
  strzelecki_page: http://strzelecki.kw.krakow.pl
  mas_page: http://mas.kw.krakow.pl
  openstack_tenant: <%= ENV['OPENSTACK_TENANT'] %>
  openstack_api_key: <%= ENV['OPENSTACK_API_KEY'] %>
  openstack_username: <%= ENV['OPENSTACK_USERNAME'] %>
  openstack_asset_host: "https://storage.waw1.cloud.ovh.net/v1/AUTH_b69bb975c19b4ec482592361f1ef5e29/kw-app-cloud-staging/"
  mailgun_api_key: <%= ENV['MAILGUN_API_KEY'] %>
  meteoblue_key: <%= ENV['METEOBLUE_KEY'] %>

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  dotpay_fees_id: 447543
  dotpay_trainings_id: 216756
  dotpay_reservations_id: 318317
  dotpay_club_trips_id: 487661
  dotpay_donations_id: 222775
  dotpay_base_url: 'https://ssl.dotpay.pl/s2/login/api/'
  dotpay_login: dariusz.finster@gmail.com
  dotpay_password: <%= ENV['DOTPAY_PASSWORD'] %>
  dotpay_back_url: 'https://panel.kw.krakow.pl/api/payments/thank_you'
  dotpay_urlc: 'https://panel.kw.krakow.pl/api/payments/status'
  google_client_id: <%= ENV['GOOGLE_CLIENT_ID'] %>
  google_client_secret: <%= ENV['GOOGLE_CLIENT_SECRET'] %>
  mailgun_login: <%= ENV['MAILGUN_LOGIN'] %>
  mailgun_api_key: <%= ENV['MAILGUN_API_KEY'] %>
  mailgun_password: <%= ENV['MAILGUN_PASSWORD'] %>
  mailgun_domain: 'kw.krakow.pl'
  strzelecki_page: https://strzelecki.kw.krakow.pl
  mas_page: https://mas.kw.krakow.pl
  openstack_tenant: <%= ENV['OPENSTACK_TENANT'] %>
  openstack_api_key: <%= ENV['OPENSTACK_API_KEY'] %>
  openstack_username: <%= ENV['OPENSTACK_USERNAME'] %>
  openstack_asset_host: "https://storage.waw1.cloud.ovh.net/v1/AUTH_b69bb975c19b4ec482592361f1ef5e29/kw-app-cloud-production/"
  google_analytics: UA-143927491-1
  meteoblue_key: <%= ENV['METEOBLUE_KEY'] %>
