h3= "Rezerwacja ##{@reservation.id}"

b Kto: 
= "#{@reservation.user.first_name} #{@reservation.user.last_name}"
br
br
b Na kiedy: 
= "#{@reservation.start_date} - #{@reservation.end_date}"
br
br
= "Prosimy Cię abyś przestrzegał naszego regulaminu."
br
br
b= "Prosimy teraz abyś opłacił rezerwację w ciągu 48h po tym czasie zostanie ona anulowana."
br
br
= "Aby odebrać przedmioty skontaktuj sie z opiekunem wypożyczalni we czwartek w siedzibie klubu."
br
= "Aby skontaktować się z opiekunem możesz po prostu odpowiedzieć na ten email."
br
= '----------------------------------------------------------'
br
i
  small
    = 'Wypożyczalnia Klubu Wysokogórskiego Kraków'
