.list-element {
    border-bottom: 1px solid #f1f1f1;

    .list-element-arrow {
        font-size: 1.8rem;
        font-weight: bold;
        align-self: center;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.calendar-date-icon {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;

    .calendar-date-icon-month {
        font-size: 1rem;
    }

    .calendar-date-icon-day {
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.event-name {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: black;
}

.clickable:hover {
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}