== yield
br
| W razie pytań i wątpliwości odpowiedz na ten e-mail.
br
| ========================
br
| z taternickim pozdrowieniem
br
| Szkoła Alpinizmu Klubu Wysokogórskiego Kraków
br
| https://szkolaalpinizmu.pl
br
| https://kw.krakow.pl
