== yield
br
| W razie pytań i wątpliwości odpowiedz na ten e-mail.
br
| ========================
br
| z taternickim pozdrowieniem
br
| Szkoła Alpinizmu Klubu Wysokogórskiego Kraków
br
= link_to 'https://szkolaalpinizmu.pl', 'https://szkolaalpinizmu.pl'
br
= link_to 'https://kw.krakow.pl', 'https://kw.krakow.pl'
