b Potwierdzenie udzielenia pełnomocnictwa
br
br
b = @commission.owner.display_name
| udzielił pełnomocnictwa 
b = @commission.authorized.display_name
br
br
= sanitize @setting.content

br
br
| Klub Wysokogórski Kraków
