| Cześć!
br
br
= "O ile nie ma błędu na liście składek, to nie masz opłaconych składek za #{1.year.ago.year} lub #{Date.today.year} rok."
br
br
| Bardzo prosimy o jak najszybsze uregulowanie tej kwestii.
br
br
| Składki należy opłacić poprzez <a href="https://kw.krakow.pl/o-klubie/czlonkowskie/skladki.html">dedykowany panel</a>.
br
br
| Według naszego <a href="https://kw.krakow.pl/images/artykuly/KWKrakow/StatutKWK.pdf">Statutu</a> składki za dany rok powinny zostać opłacone do końca marca danego roku.
br
| Jeśli składki zostały opłacone prosimy o informację lub przesłanie potwierdzenia zapłaty, jeżeli zostały opłacone przelewem bezpośrednio na konto klubu.
br
br
| W razie jakichkolwiek pytań prosimy o kontakt poprzez email: <a href='mailto:kw@kw.krakow.pl'>kw@kw.krakow.pl</a>
br
br
| z taternickim pozdrowieniem,
br
| ekipa KW Kraków
