@import 'foundation_and_overrides'
@import 'foundation-icons'
@import 'foundation-datepicker'
@import 'tokeninput'
@import 'card'
@import 'table'
@import 'button-hover'
@import 'trix'

trix-toolbar
  .trix-button-row
    display: flex
    flex-wrap: wrap
    justify-content: space-between

@media screen and (min-width: 1024px)
  table
    width: 100%

  td
    max-width: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.pagination li
  display: inline-block

#responsive-menu
  margin-bottom: 15px

.no-js .top-bar
  display: none

@media screen and (min-width: 40em)
  .no-js
    .top-bar
      display: block
    .title-bar
      display: none

.opacity
  opacity: 0.3
