table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.kalendarz-zawodow tbody td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
.weekend {
  background-color: red;
}

.number {
  width: 3%;
}

span.flag {
  margin-right: 5px;
}
