.table-expand-row {
  &.is-active {
    .expand-icon::after {
      content: '-';
    }
  }

  .expand-icon::after {
    content: '+';
    float: right;
  }
}

// this is where the magic happens
.table-expand-row-content {
  display: none;
}

.table-expand-row-content {
  &.is-active {
    display: table-row;
    animation: fadeIn ease-in 1;
    animation-fill-mode: both;
    animation-duration: 0.5s;
  }
}

.table-expand-row-nested {
  background-color: $light-gray;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dashboard-table-text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard-table-timestamp-small {
  color: darken($light-gray, 30%);
  font-size: 0.9rem;
  font-weight: 400;
}

.dashboard-table-timestamp {
  color: darken($light-gray, 30%);
  font-size: 0.9rem;
  font-weight: 400;
}

.dashboard-table-image {
  display: inline;
  margin-right: 0.6rem;
  max-height: 50px;
}

.dashboard-table-heart-counter {
  display: inline;
  font-size: 20px;
  line-height: 20px;
  margin-left: 0.6rem;
  font-weight: 400;
}

.dashboard-table-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
