| Serdecznie dziękujemy za chęć wstąpienia do naszego Klubu. 
br
br
| Doświadczeni alpiniści stanowią podstawę działalności naszego Klubu.
br
| Jeśli więc masz duże doświadczenie alpinistyczne, 
br
| lecz do tej pory nie ukończyłeś żadnego formalnego szkolenia, to prześlij nam wykaz swoich przejść zrobionych w Tatrach lub innych górach typu alpejskiego obejmujący 3 ostatnie lata Twojej działalności.
br
br
| Po weryfikacji wykazu poinformujemy Cię, czy wykaz jest wystarczający do 
| uzyskania członkostwa KW Kraków.
br
| Oraz otrzymasz e-mail potwierdzający twoje zgłoszenie wraz z linkiem do płatności za wpisowe.
br
br
| W razie pytań i wątpliwości, pisz na adres: 
= link_to 'zgloszenia@kw.krakow.pl', 'mailto:zgloszenia@kw.krakow.pl'
br
br
| z taternickim pozdrowieniem
