<p>Twój login: <%= @resource.email %>!</p>

<p><%= link_to 'Zmień swoje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= link_to 'Połącz swoje konto z Google', user_google_oauth2_omniauth_authorize_url %>

<p>Kliknij link powyżej aby zmienić swoje hasło lub połącz swoje konto z google wtedy hasło nie będzie Ci potrzebne.</p>

---------------------------------------------
<br>
Klub Wysokogórski Kraków
