<p><%= I18n.t("devise_mailer.reset.title", email: @resource.email) %></p>

<p><%= link_to I18n.t("devise_mailer.reset.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= link_to I18n.t("devise_mailer.reset.google"), user_google_oauth2_omniauth_authorize_url %>

<p><%= I18n.t("devise_mailer.reset.description") %></p>

---------------------------------------------
<br>
Klub Wysokogórski Kraków
