<p><%= I18n.t("devise_mailer.reset.title", email: @resource.email) %></p>

<p><%= link_to I18n.t("devise_mailer.reset.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

---------------------------------------------
<br>
Klub Wysokogórski Kraków
