<small>-- ODPOWIEDZ E-MAILOWO POWYŻEJ TEJ LINI --</small>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @message.sender %>
      <p>
        <b><%= @message.sender.display_name %></b> dodał cię do konwersacji
      </p>
    <% end %>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    -----------------------------------------------
    <br>
    <small>
      Kliknij aby przejść bezpośrednio do <%= link_to 'wątku', conversation_url(@message.conversation.id) %> aby odpowiedzieć i sprawdzić inne wiadomości.
    </small>
    </br>
    <small>
      Klub Wysokogórski Kraków
    </small>
  </body>
</html>
