<span>-- ODPOWIEDZ E-MAILOWO POWYŻEJ TEJ LINI --</span>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Wysłano do Ciebie wiadomość w panelu KW Kraków:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Odwiedź swoją <%= link_to 'skrzynkę odbiorczą', conversations_url %> aby odpowiedzieć i sprawdzić inne wiadomości.
    </p>
  </body>
</html>
