<small>-- ODPOWIEDZ E-MAILOWO POWYŻEJ TEJ LINI --</small>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @message.sender %>
      <p>
        <b><%= @message.sender.display_name %></b> odpowiedział
      </p>
    <% end %>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    -----------------------------------------------
    <br>
    <% if @message.conversation.sign_ups.any? %>
      <small>
        Kliknij aby przejść bezpośrednio do <%= link_to 'QA z koordynatorem', business_sign_up_url(@sign_up.id, code: @sign_up.code) %>.
      </small>
      </br>
    <% else %>
      <small>
        Kliknij aby przejść bezpośrednio do <%= link_to 'wątku', conversation_url(@message.conversation.id) %> aby odpowiedzieć i sprawdzić inne wiadomości.
      </small>
      </br>
    <% end %>
    <small>
      Klub Wysokogórski Kraków
    </small>
  </body>
</html>
