li style='min-width: 300px;'
  = link_to project_path(notification.notifiable_id), class: "#{'unread' if !notification.read_at?}" do
    b= notification.actor.display_name
    = " dodał komentarz do projektu #{notification.notifiable.name}"
