name: Deploy Staging
concurrency:
  group: staging
  cancel-in-progress: true
on:
  push:
    branches:
      - secrets-management
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      KAMAL_REGISTRY_USERNAME: ${{ github.repository_owner }}
      KAMAL_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY_STAGING }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD_STAGING }}
      REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD_STAGING }}

    steps:
      - uses: actions/checkout@v4
      
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      
      - run: gem install kamal
      
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_STAGING }}
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/setup-buildx-action@v3
      
      - run: kamal lock release -d staging
      
      - run: kamal deploy -d staging
      
      - name: Cleanup old Docker images and containers
        run: kamal prune all -d staging